@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@font-face{
    font-family: 'vcr osd mono';
    src: url(fonts/VCR_OSD_MONO.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3{
    font-family: 'vcr osd mono', sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

body{
    font-family: 'noto sans', sans-serif;
}

a{
    color: #ffffff;
}

/* ----------- Index ----------- */
.indexContainer{
    position: relative;
    align-items: center;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.index1{
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
}

.index2{
    grid-column: 3 / 4 ;
    grid-row: 2 / 3 ;
    margin-left: 100px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'vcr osd mono', sans-serif;
}

.index2 ul li{
    padding: 10px;
}

.index2 a{
    font-size: 22px;
}

.index2 a:hover{
    color: #DC143C;
}

.indexFooter{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 30px 50px;
    font-family: 'vcr osd mono';
    display: flex;
    position: fixed;
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
}

.indexFooter p{
    line-height: 20px;
}

/* ----------- About Us ----------- */
 
.containerAbout{
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .5fr .5fr;
    grid-template-areas: 
        "sidebar main main"
        "sidebar content1 content2"
        "sidebar content3 content2"
        "footer footer footer";
}

main{
    grid-area: main;
    margin: 50px 50px 5px 50px;
    padding: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.sidebar{
    background: #ffffff;
    grid-area: sidebar;
    margin: 0;
    padding: 3em;
    list-style: none;
    text-decoration: none;
    font-family: 'vcr osd mono', sans-serif;
    box-shadow: 5px 10px 30px #e0e0e0;
}

.sidebar ul{
    margin-top: 200px;
}

 .sidebar ul li{
    padding: 10px;
}

.sidebar ul li a{
    color: #373535;
    font-size: 22px;
}

.sidebar ul li:hover a{
    color: #DC143C;
}

.content1 {
    grid-area: content1;
    margin: 5px 50px 5px 50px;
    padding: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.content2 {
    grid-area: content2;
    margin: 5px 50px 5px 5px;
    padding: 2em 2em 2em 5em;
}

.content3 {
    grid-area: content3;
    margin: 0px 5px 5px 50px;
    padding: 2em;
}

footer{
    margin: 0;
    z-index: 1; 
    color: #ffffff;
    font-family: 'vcr osd mono', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr;
    grid-area: footer;
    grid-template-areas:
        "content4 content4 content5 content5 content6"
        "content7 content7 content8 content8 content8"
}

footer h1{
    font-size: 24px;
}

footer p{
    font-size: 15px;
}

footer a{
    text-decoration: none;
    font-size: 15px;
}

footer a:hover{
    color: #DC143C;
}

.content4{
    grid-area: content4;
    padding: 4em 6em;
    background: #1C1D1F;
}

.content5{
    grid-area: content5;
    padding: 4em 6em;
    background: #1C1D1F;
}

.content6{
    grid-area: content6;
    padding: 4em 6em;
    background: #1C1D1F;
}

.content7{
    grid-area: content7;
    padding: 1em 6em;
    background: #1C1D1F;
}

.content7 p{
    font-size: 12px;
}

.content8 a{
    font-size: 12px;
}

.content8{
    grid-area: content8;
    padding: 1em 6em;
    background: #1C1D1F;
    text-align: right;
}

.content8 ul li{
    display: inline;
    margin-left: 2em;
}

.content8 ul li a{
    font-size: 12px;
}

/* ----------- Artists ----------- */

.containerArtist{
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .5fr .5fr;
    grid-template-areas: 
        "sidebar main main"
        "sidebar artist1 artist2"
        "sidebar artist3 artist4"
        "footer footer footer";
}

.name{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}

.artist1{
    position: relative;
    color: white;
    font-family: 'vcr osd mono', sans-serif;
    margin: 10px 20px 10px 80px;
    grid-area: artist1;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms, font-size 800ms;
}

.artist1:hover{
    box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 1);
    font-size: 40px;
}

.artist2{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'vcr osd mono', sans-serif;
    margin: 10px 80px 10px 20px;
    grid-area: artist2;
    font-size: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms, font-size 800ms;
}
.artist2:hover{
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 1);
    font-size: 40px;
}

.artist3{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'vcr osd mono', sans-serif;
    margin: 10px 20px 40px 80px;
    grid-area: artist3;
    font-size: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms, font-size 800ms;
}
.artist3:hover{
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 1);
    font-size: 40px;
}

.artist4{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'vcr osd mono', sans-serif;
    margin: 10px 80px 40px 20px;
    grid-area: artist4;
    font-size: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms, font-size 800ms;
}
.artist4:hover{
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 1);
    font-size: 40px;
}

/* ----------- Specific Artist Page ----------- */
.containerArtist1{
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas: 
        "sidebar main main"
        "sidebar jack1 jack2"
        "sidebar title title"
        "sidebar jack3 jack4"
        "sidebar title2 title2"
        "sidebar video1 video2"
        "sidebar title3 title3"
        "sidebar event1 event2"
        "sidebar content3 content3"
        "footer footer footer";
}

.jack1{
    grid-area: jack1;
    margin: 0;
    padding: 2em 5em;
    /* background: palevioletred; */
    text-align: justify;
    text-justify: inter-word;
}

.jack2{
    grid-area: jack2;
    padding: 2em 5em 2em 0;
}

.title{
    grid-area: title;
    margin: 20px 80px 0px 80px;
}

.jack3 p{
    margin-bottom: 10px;
}

.jack4 p{
    margin-bottom: 10px;
}

.jack3{
    grid-area: jack3;
    margin-left: 50px;
    padding: 2em;
}

.jack4{
    grid-area: jack4;
    margin-left: 50px;
    padding: 2em;
}

.title2{
    grid-area: title2;
    margin: 20px 80px 0px 80px;
}

.video1{
    grid-area: video1;
    margin-left: 80px;
}

.video2{
    grid-area: video2;
    margin-left: 80px;
}

.title3{
    grid-area: title3;
    margin: 60px 80px 0px 80px;
}

.event1{
    grid-area: event1;
    margin-left: 80px;
}

.event2{
    grid-area: event2;
    margin-left: 80px;
}

.button{
    background-color: #000000; 
    border: none;
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 300ms;
    max-width: 100%;
    width: 320px;
    border-radius: 8px;
  }

.button:hover {
    opacity: 1;
}

.containerEvent{
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas: 
        "sidebar main main"
        "sidebar search search"
        "sidebar list list"
        "sidebar more more"
        "footer footer footer";
}

.list{
    grid-area: list;
    margin: 5px 50px ;
    padding: 2em;
    /* background: #85a7eb; */
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    font-family: 'vcr osd mono', sans-serif;
    font-size: 20px;
}

table, th, td{
    padding: 1.2em;
}

.more{
    grid-area: more;
    text-align: center;
    margin-bottom: 20px;
}

.more:hover{
    color: #DC143C;
}

.search{
    margin: 5px 80px;
}

input{
    width: 100%;
    padding: 1em;
}

.containerContact{
    display: grid;
    height: 100vh;
    grid-template-columns: .75fr 3fr;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-areas: 
        "sidebar main "
        "sidebar form"
        "footer footer";
}

.form{
    grid-area: form;
    margin: 30px 80px;
    background: #EBEBEB;
    padding: 2em;
    border-radius: 12px;
}



@media only screen and (max-width:1279px){
    .containerAbout{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "sidebar"
            "main"
            "content1" 
            "content2"
            "content3"
            "footer";
    }
    
    footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr .1fr .1fr;
        grid-template-areas:
        "content4 content5 content6"
        "content8 content8 content8"
        "content7 content7 content7"
    }

    .content8{
        text-align: left;
        padding: 0 4em;
    }

    .sidebar ul{
        margin-top: 20px;
    }

    .containerArtist{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "sidebar sidebar"
            "main main"
            "artist1 artist2" 
            "artist3 artist4"
            "footer footer";
    }

    .containerEvent{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "sidebar sidebar"
            "main main"
            "search search" 
            "list list"
            "more more"
            "footer footer";
    }

    .containerArtist1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas: 
        "sidebar sidebar"
        "main main"
        "jack1 jack1"
        "jack2 jack2"
        "title title"
        "jack3 jack4"
        "title2 title2"
        "video1 video2"
        "title3 title3"
        "event1 event2"
        "content3 content3"
        "footer footer";
    }

    .jack2{
        margin-left: 80px;
    }
    audio.player{
        width: 100%;
        margin-top: 10px;
    }

    .containerContact{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas: 
            "sidebar"
            "main"
            "form"
            "footer"
    }
}

@media only screen and (max-width: 1200px){
    .indexContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .index1{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 70px;
        width: 70%;
    }
    .index2{
        grid-column: 1/2;
        grid-row: 2/3;
    }    
    .name{
        font-size: 24px;
    }
}

@media only screen and (max-width: 920px){
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr .1fr .1fr;
        grid-template-areas: 
            "content4"
            "content5"
            "content6"
            "content8"
            "content7";
    }

    .search{
        width: 100%;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    .containerArtist1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 1fr);
        grid-template-areas: 
        "sidebar"
        "main"
        "jack1"
        "jack2"
        "title"
        "jack3" 
        "jack4"
        "title2"
        "video1"
        "video2"
        "title3"
        "event1"
        "event2"
        "content3"
        "footer";
    }

    .form .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }

      .containerArtist{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
            "sidebar"
            "main"
            "artist1"
            "artist2"
            "artist3"
            "artist4"
            "footer";
      }

      .artist1, .artist3{
          margin-right: 80px;
      }

      .artist2, .artist4{
          margin-left: 80px;
      }

}

@media only screen and (max-width: 540px){
    .index2 a{
        font-size: 18px;
    }
    .index2{
        margin: auto;
        text-align: center;
    }

    table thead{
        display: none;
    }

    table tbody tr td{
        display: block;
        width: 100%;
        padding: .7em;
    }

    table td{
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    .spaceUnder{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:320px){
    .sidebar ul li a{
        font-size: 16px;
    }
       
    footer h1{
        font-size: 18px;
    }
        
    footer p{
        font-size: 12px;
    }
        
    footer a{     
        font-size: 12px;
    }
}

/* Form */

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #1C1D1F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row label{
      font-size: 14px;
  }

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

/* Media */
.logo{
    max-width: 100%;
}

.building{
    max-width: 100%;
    max-height: 100%;
}

.social{
    width: 70px;
    margin-right: 20px;
}

.art{
    max-width: 100%;
}

.album{
    max-width: 100%;
    margin-right: 20px;
}

iframe{
    max-width: 100%;
    max-height: 100%;
}

/*Index Background*/
#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


